.list {
    width: fit-content;
    margin: 5rem;
}

.list-item {
    margin: 1rem;

    &:hover {
        cursor: move;
    }

    .remove-btn {
        opacity: .3;
        margin-left: 1rem;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}